
.formControl {
    font-size: 18px;
    margin-bottom: 20px;
}

.formControl.error input,
.formControl.error textarea {
    border: 2px solid red;
    outline: none;
}

.formControl.error span {
    color: red;
}

.formControl.error .elementWrapper input{
    position: relative;
    background-image: url("./../../images/wrong_icon.png");
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: right 14px center;
}

.validatorError {
    background-color: #ee5f5b;
    color: #fff;
    font-size: 15px;
    padding: 5px 10px;
    margin: 20px auto 0;
    text-align: left;
}

.validatorError b {
    font-size: 17px;
}

