.captcha {
    text-align: center;
}

.captcha img {
    margin-bottom: 10px;
}

.captcha input{
    padding: 0.25rem 0.5rem;
    font-size: 0.8203125rem;
    line-height: 1.5;
    border-radius: 0.75rem;
    color: #52575C;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}

.captcha span {
    right: 25%;
    font-size: 16px;
}