.form {
    grid-area: form;

}

.fields {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 5fr 4fr;
}

.fields input {
    padding: 0.54rem 0.25rem;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
    font-size: 16px;
}

.fields input,
.fields textarea {
    margin: 10px 5px;
}

.fields textarea {
    border-radius: 0.5rem 0.5rem 0 0.5rem;
    width: 100%;
    padding: 5px 0 0 5px;
    min-height: 50px;
}

.addMessage button{
    background-image: linear-gradient(#484e55, #3A3F44 60%, #313539);
    width: 100%;
    color: #fff;
    background-color: #3A3F44;
    padding: 0.5rem 1rem;
    font-size: 15px;
    border-radius: 0.3rem;
    border: none;
}

.addMessage button:hover,
.addMessage button:focus {
    box-shadow: 0 0 0 0.2rem rgba(88, 92, 96, 0.5);
    background-image: linear-gradient(#101112, #17191b 40%, #1b1e20);
}




